.productCard {

}

.productCard__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 250px;
}

.card__img img {
    width: 100%;
}

