.basket {
    margin: 0 auto;
    max-width: 1000px;
}
.basket__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 600px;
}