.basket {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    min-height: 600px;
    max-width: 1000px;
}

.basket__emptyTitle {
    width: 1000px;
    text-align: center;
    font-size: 25px;
    color: #8E8D8A;
}
