.product {
    width: 380px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}

.product__top {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(146, 237, 223, 0.48);
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.product__subtitle {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    background-color: #f7e4a1;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 16px;
    color: grey;
}

.product__title {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    padding: 3px 5px;
    font-size: 18px;
    color: #5d6262;
    margin-right: 15px;
}

.product__price {
    padding: 5px 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    color: black;
}

.product__img {
    width: 50%;
}

.product__img img {
    border-radius: 20px;
    width: 100%;
}

.product__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}