.burger {
    background-color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-radius: 3px;
    width: 25px;
    margin-right: 5px;
}

.burger__Btn {
    height: 20px;
    position: relative;
    z-index:2;
    overflow: hidden;
    width: 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.burger__Btn span {
    width: 25px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}
.burger__Btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.burger__Btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

