.filters {
    position: absolute;
    left: 50px;
    top: 65px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 189, 189, 0.54);
    border-radius: 20px;
    padding: 5px 5px 20px;
}

.filters__button {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.filters__button-item {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 20px;
    background-color: #E98074;
    transition: .3s;
}

.filters__button-item:hover {
    background-color: #E85A4F;
}

